<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="produits">ShopCost</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="produits"> Produits </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="produits">A voir</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="produits">A voir </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="produits">A voir</a>
  </li>
</ul>
<br><br>
<div class="container">
  <router-outlet></router-outlet>
</div>